.todoitem {
  display: flex;
  align-items: center;
  justify-contents: space-between;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 0 14px 0 14px;
}

.delete {
  width: 14px;
  height: 14px;
  font-color: red;
  margin-left: auto;
  opacity: 0;
}

.todo__check {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid black;
  margin-right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.todo__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.check {
  width: 25px;
  height: 25px;
  color: #80f580;
}

.complete {
  text-decoration: line-through;
}

.todoitem:hover .delete {
  opacity: 2;
  transition: all 1s ease-in-out;
}

.edit__input {
  border: 1px solid black;
  outline: 1px solid black;
  width: 100%;
  padding: 16px 16px 16px 0px;
  line-height: 1.4em;
  font-size: 24px;
}

.todo__text__container {
  flex: 1;
}

.hide {
  opacity: 0;
}
