.footer {
  color: #777;
  margin: 0.5rem;
  font-size: 0.5rem;
  display: flex;
  justify-content: space-between;
  /* justify-content: center; */
  /* display: none; */
}

.tabs {
  display: flex;
  justify-content: space-between;
}
.tab {
  margin-inline: 0.5rem;
  cursor: pointer;
  padding-inline: 0.2rem;
}
